body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  visibility: hidden;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  width: 240px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.catalog-header {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.main-header {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
  color: #000000;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:focus {
  opacity: 0.3;
}

.nav-list {
  list-style: none;
}

.nav-link.current {
  padding-bottom: 3px;
  border-bottom: 2px solid #fb565a;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:focus {
  color: #000000;
  opacity: 0.3;
}

.slider {
  background-color: #eeeeee;
}

.slider-item {
  background-repeat: no-repeat;
  background-position: right;
}

.slider-title {
  font-size: 55px;
  color: #000000;
}

.slider-item.one {
  background-image: url(../img/slide1.png);
}

.slider-item.two {
  background-image: url(../img/slide2.png);
}

.slider-item.three {
  background-image: url(../img/slide3.png);
}

.products-list {
  list-style: none;
}

.products-item {
  background-repeat: no-repeat;
  background-position: right;
}

.products-item-title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.products-item.one {
  background-image: url(../img/illustration-1.jpg);
}

.products-item.two {
  background-image: url(../img/illustration-2.jpg);
}

.products-item.three {
  background-image: url(../img/illustration-3.jpg);
}

.btn.products-btn-1 {
  /*sizing*/
}

.btn.products-btn-2 {
  background-color: #00ca74;
}

.btn.products-btn-2:hover {
  background-color: #00bc6c;
}

.btn.products-btn-2:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.btn.products-btn-3 {
  background-color: #efc84a;
}

.btn.products-btn-3:hover {
  background-color: #eab534;
}

.btn.products-btn-3:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.features-main-title {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.mini-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.mini-title.features-tr-title {
  font-size: 45px;
  line-height: 10px;
}

.partners-list {
  display: flex;
  list-style: none;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 0.8;
}

.partners-link:focus {
  opacity: 0.1;
}

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0.5;
}


/*у тебя фиксированная ширина, используй transform чтобы центровать*/

.modal-block {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  overflow: hidden;
  z-index: 2000;
  width: 500px;
  padding: 20px;
  margin-left: -250px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-size: 45px;
  font-weight: 500;
}

.modal-label {
  font-weight: 700;
}

.contacts-title {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.footer-social-title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-social-list {
  list-style: none;
}

.social-link {
  background-color: #e1e1e1;
  list-style: none;
}

.catalog-header {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
}

.catalog-item-popup {
  background-color: #eeeeee;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.item-popup-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.item-popup-description {
  line-height: 18px;
  color: #666666;
}

.sorting-list {
  list-style: none;
}

.sorting-link {
  font-size: 14px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sorting-link.current {
  opacity: 1.0;
}

.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-link {
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
}
