body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Optima, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

/*START-General Classes*/

.visually-hidden {
  visibility: hidden;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;


  width: 240px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

button {
  border: 0px;
}

.header-font {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

/*END-General Classes*/

/*START<header class="main-header">*/


.main-header {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:focus {
  opacity: 0.3;
}


.nav-list {
  list-style: none;
  color: #000000
}

.nav-link a {
  color: #000000
}

.nav-link a:hover {
  color: #fb565a;
}

.nav-link a:focus {
  color: #000000;
  opacity: 0.3;
}

.nav-list .current a {
  padding-bottom: 3px;
  border-bottom: 2px solid #fb565a;
}

/*END<header class="main-header">*/

/*START<section class="slider">*/

.slider {
  background-color: #eeeeee;
}

.slider-item {
  background-repeat: no-repeat;
  background-position: right;
}

.slider .one {
  background-image: url(../img/slide1.png);
}

.slider .two {
  background-image: url(../img/slide2.png);
}

.slider .three {
  background-image: url(../img/slide3.png);
}

/*END<section class="slider">*/

/*START<section class="main-products">*/

.products-list {
  list-style: none;
}

.products-item {
  background-repeat: no-repeat;
  background-position: right;
}

.products-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
}

.products-list .one {
  background-image: url(../img/illustration-1.jpg);
}

.products-list .two {
  background-image: url(../img/illustration-2.jpg);
}

.products-list .three {
  background-image: url(../img/illustration-3.jpg);
}

.itb-1 {
  /*sizing*/
}

.itb-2 {
  background-color: #00ca74;
}

.itb-3 {
  background-color: #efc84a;
}

/*END<section class="main-products">*/

/*START<section class="features">*/

.features-main h3 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.upb {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.th-bold {
  font-size: 45px;
  line-height: 10px;
}

/*END<section class="features">*/

/*START<section class="partners">*/

.partners-list {
  display: flex;
  list-style: none;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 0.8;
}

.partners-list a:focus {
  opacity: 0.1;
}
/*END<section class="partners">*/


/*START<section id="modal-window"*/

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0.5;
}

/*у тебя фиксированная ширина, используй transform чтобы центровать*/
.modal-block {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  overflow: hidden;
  z-index: 2000;
  width: 500px;
  padding: 20px;
  margin-left: -250px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}


.modal-block h2 {
  font-size: 45px;
  font-weight: 500;
}
.input-label {
  font-weight: 700;
}

/*END<section id="modal-window"*/

/*START<section class="footer-social">*/

.footer-social b {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.social-link {
  background-color: #e1e1e1;
  list-style: none;
}

/*END<section class="footer-social">*/

/*catalog.html*/

.catalog-header {
  background-color: #eeeeee;
}

.catalog-item-popup {
  background-color: #eeeeee;
}

.catalog-item-popup h3>a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
}

.catalog-item-popup p {
  line-height: 18px;
}

.pagination-link a {
  text-transform:uppercase;
  font-weight:500;
  color: #000000;
}

.filter-head {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.sorting-list {
  list-style: none;
}

.sorting-link a {
  font-size: 14px;
  color: #000000;
}

